header {
  @include shadow(bottom);
  
  width: 100%;
  height: $header-height;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  
  background: $color-primary;
  z-index: 5;

  .wrapper {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #fff;
      font-size: 3rem;
    }

    select {
      width: 100%;
      max-width: 20rem;
      height: 3.5rem;
      padding: 0 1rem;
      border-radius: 0.4rem;
      
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: capitalize;
      color: #666;
      
      border: 0;
      outline: none;

      option {
        font-size: 1.3rem;
      }
    }
  }
}